<% provide(:title, "About") %>
 <h1>About</h1>
 <p>
 「Stock Trackr」はカラーミーショップのプライベートアプリです。<br>
 カラーミーショップでネットショップを運営中の方を対象としています。<br>
 <br>
 現在は、在庫管理機能を実装しています。<br>
 商品の在庫管理状況と在庫数を把握しやすいよう一覧にして掲載しています。<br>
 <br>
 新規登録後、<a href="/products/edit">「Stock Trackr」</a>にアクセスしご活用ください。
 <br>
 <br>
 なお、カラーミーショップ管理画面と連携させるには、<br>
 デベロッパー登録と「クライアントID」及び「クライアントシークレット」の取得が必要です。<br>
 <br>
 詳細については以下をご参照ください。<br>
<br>
 参照：<a href="https://developer.shop-pro.jp/getting-started/appstore-developmemt_flow/">アプリ開発の流れ - アプリストア 開発ガイド</a> 
 <br>
 ※本アプリ利用に必要な手順は「1」までです。<br>
　開発中につき、本アプリの利用は個々の責任の範囲でお願いいたします。
 </p>