<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
<br>
<h3>Home</h3>
本アプリのトップページです。<br>
<br>
Sign up!<br>
本アプリのご利用にはメールアドレスとパスワードの登録が必要です。<br>
<br>
新規登録がお済みの方は画面右上 <a href="/login">「log in」</a>から本アプリへログインしてください。<br>
パスワードをお忘れの場合は<a href="/password_resets/new">「forgot password」</a>をクリックしお手続きください。<br>
<br>
<br>
<h3>About</h3>
本アプリの概要を説明したページです。
<br>
<br>
<h3>Users</h3>
ご登録者様情報です。<br>
「Account」内にある「setting」からメールアドレスやパスワードの変更が可能です。<br>
<br>
<br>
<h3>Inventory</h3>
カラーミーショップに登録した商品の在庫管理が行えるページです。<br>
<br>
<br>
<br>
</p>