<h1>Stock Trackr</h1>

<p>ようこそ <%= @user.name %> さま </p>

<p>
Stock Trackをご利用いただきありがとうございます。<br>
ご本人様確認のため、以下のリンクをクリックしてください。<br>
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>