<h1>Password Reset</h1>

<p>以下のリンクをクリックしてください。パスワードがリセットされます。</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>※リンクの有効時間は2時間です。</p>
<br>
<p>
お心あたりがない場合は、本メールはお読み捨てくださいませ。
</p>