<h1>Products#edit</h1>
<p>Find me in app/views/products/edit.html.erb</p>

<table class="product-table table">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
    #   <th>unavailable_delivery_ids</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        # <td><%= product.unavailable_delivery_ids %></td>
      </tr>
    <% end %>
  </tbody>
</table>