<%= @product_id %>

<%= @products_shipment %>


<table>
      <tr>
        <th>id</th>
        <th>商品名</th>
        <th>配送方法</th>
      </tr>
      <tr>
        <td><%= @product %></td>
      </tr>
    </table>
