
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Unavailable Delivery IDs</th>
    </tr>
  </thead>
  <tbody>
    <% @product_shipments.each do |key, value| %>
      <tr>
        <td><%= value["id"] %></td>
        <td><%= value["name"] %></td>
        <td><%= value["unavailable_delivery_ids"].join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

